In [1]:
Name="Samruddhi Mahesh Bilaskar"
Roll_No=9129

Lists

In [3]:
A=["Samruddhi","Bilaskar",21,"Student"]
B=["SP College","Autonomous","Sadashiv Peth",411030]
print(A)
print(B)

['Samruddhi', 'Bilaskar', 21, 'Student']
['SP College', 'Autonomous', 'Sadashiv Peth', 411030]

Tupples

In [4]:
a=("Samruddhi","Bilaskar",21,"Student")
b=("SP College","Autonomous","Sadashiv peth",411030)
print(a)
print(b)

('Samruddhi', 'Bilaskar', 21, 'Student')
('SP College', 'Autonomous', 'Sadashiv peth', 411030)

In [5]:
print(A[0:2])
print(B[2:3])
print(a[2])
print(b[3])

['Samruddhi', 'Bilaskar']
['Sadashiv Peth']
21
411030

Class

In [6]:
print(type(A))
print(type(B))
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>
<class 'tuple'>
<class 'tuple'>

Copy

In [7]:
print(A)
A1=A.copy()
print(A1)

#Tupples cannot be copied.

['Samruddhi', 'Bilaskar', 21, 'Student']
['Samruddhi', 'Bilaskar', 21, 'Student']

Append

In [8]:
print(B)
B.append("Autonomous")
print(B)

##Tuples cannot be append

['SP College', 'Autonomous', 'Sadashiv Peth', 411030]
['SP College', 'Autonomous', 'Sadashiv Peth', 411030, 'Autonomous']

Count

In [9]:
print(A.count("Samruddhi"))
A.append("Samruddhi")
print(A.count("Samruddhi"))

1
2

Delete List

In [10]:
try:
  print(A1)
  del A1
  print(A1)
  except:
    Pass

    ##List A1 is deleted therefore it is showing error.
    ##used try and expect to maintain the continuity of the program.

SyntaxError: ignored

Extend

In [11]:
print(A)
print(B)
A.extend(B)
print(A)

['Samruddhi', 'Bilaskar', 21, 'Student', 'Samruddhi']
['SP College', 'Autonomous', 'Sadashiv Peth', 411030, 'Autonomous']
['Samruddhi', 'Bilaskar', 21, 'Student', 'Samruddhi', 'SP College', 'Autonomous', 'Sadashiv Peth', 411030, 'Autonomous']

Index

In [13]:
print(B.index("Sadashiv Peth"))
print(A.index("Autonomous"))

##If the elemets are repeated in the list then index() will provide the index no.of first element

2
6

Sort

In [14]:
k=["D","A","C","B"]
print(k)
k1=[4,2,1,3]
print(k1)
k.sort()
k1.sort()
print(k)
print(k1)

##For sorting all the element in the list should be of same type.

['D', 'A', 'C', 'B']
[4, 2, 1, 3]
['A', 'B', 'C', 'D']
[1, 2, 3, 4]

Access

In [15]:
print(k[:2])
print(k1[0:])

['A', 'B']
[1, 2, 3, 4]

Nested List

In [16]:
ABlist=["Samruddhi","SP college",[21,411030]]
print(ABlist)
print(ABlist[2])

['Samruddhi', 'SP college', [21, 411030]]
[21, 411030]