# **Data Stuctures**
There are four collection data type in python programming language.
1.Lists
2.Tuples
3.Sets
4.Dictionaries

In [1]:
b='ganesh'
c=200
a=["Samruddhi",'Juhi']
print(type(a))
print(a)
print(type(b))
print(b)
print(type(c))
print(c)

<class 'list'>
['Samruddhi', 'Juhi']
<class 'str'>
ganesh
<class 'int'>
200

In [12]:
names=['Raj','arjun','priya','Kishor','Anu']
print(names)
print(type(names))

['Raj', 'arjun', 'priya', 'Kishor', 'Anu']
<class 'list'>

In [ ]:
names
print(names[:3]) #for first 3 index values
print(names[2:]) #for from second index values onward

['Raj', 'arjun', 'priya']
['priya', 'Kishor', 'Anu']

In [4]:
#Access items
print(names[3])
print(names[2:])
print(names[:2])
print(names[1:3])

Kishor
['priya', 'Kishor', 'Anu']
['Raj', 'arjun']
['arjun', 'priya']

In [ ]:
names

['Raj', 'arjun', 'priya', 'Kishor', 'Anu']

In [5]:
#Negative index
print(names[-1])
print(names[-2:])
print(names[:-2])
print(names[-3:-1])

Anu
['Kishor', 'Anu']
['Raj', 'arjun', 'priya']
['priya', 'Kishor']

In [6]:
#Change item in list
print(names)
names[3]="Joy"
print(names)

['Raj', 'arjun', 'priya', 'Kishor', 'Anu']
['Raj', 'arjun', 'priya', 'Joy', 'Anu']

In [7]:
#Looping through lists
for j in names :
  print(j) #+'5'+j

Raj
arjun
priya
Joy
Anu

In [ ]:
#Nested list
mylist=[1,2,3,['a','b',[5,6]]]
print(mylist)

[1, 2, 3, ['a', 'b', [5, 6]]]

In [8]:
sp=[["science"],["Commerce"],["Arts"]]
sp

[['science'], ['Commerce'], ['Arts']]

**Methods**

In [13]:
#Append():Adds an element at the end of the list.
print(names)
names.append("Kumar")
print(names)

['Raj', 'arjun', 'priya', 'Kishor', 'Anu']
['Raj', 'arjun', 'priya', 'Kishor', 'Anu', 'Kumar']

In [14]:
#Clear():Removes all the elements from the list.
print(names)
names.clear()
print(names)

['Raj', 'arjun', 'priya', 'Kishor', 'Anu', 'Kumar']
[]

In [15]:
#Copy() : Return a copy of a list.
names=['Raj','Arjun','Priya','Kishor','Anu','Raj']
Names1=names.copy()
print(Names1)

['Raj', 'Arjun', 'Priya', 'Kishor', 'Anu', 'Raj']

In [16]:
names

['Raj', 'Arjun', 'Priya', 'Kishor', 'Anu', 'Raj']

In [17]:
# Count();Return the number of elements with the specified value.
names.append("Raj")
x=names.count('Raj')
print(x)

3

In [19]:
# del: Delete list
print(Names1)
del Names1
print(Names1)

NameError: ignored

In [20]:
# Extent(): add the elements of a list(or any iterable.)
#To the end of the current list.
cars=['Ford','BMW','Volvo']
names.extend(cars)
print(names)

['Raj', 'Arjun', 'Priya', 'Kishor', 'Anu', 'Raj', 'Raj', 'Ford', 'BMW', 'Volvo']

In [22]:
#len(): Length of a list.
print(len(names))

10

In [24]:
#list(): Creates list from inputs.
new_list=list(('Audi','BMW','Volvo'))
print(new_list)

['Audi', 'BMW', 'Volvo']

In [25]:
#Pop(); Removes the element at the specified position
names.pop(2)
#print ((names.pop(2)))
print(names)
#names.pop(2)
#print(names)
print(len(names))

['Raj', 'Arjun', 'Kishor', 'Anu', 'Raj', 'Raj', 'Ford', 'BMW', 'Volvo']
9

In [26]:
#remove() : Removes the item with the specified value
names.remove('Raj')
print(names)

['Arjun', 'Kishor', 'Anu', 'Raj', 'Raj', 'Ford', 'BMW', 'Volvo']

In [27]:
#reverse(); Reverses the order of thelist.
names.reverse()
print(names)

['Volvo', 'BMW', 'Ford', 'Raj', 'Raj', 'Anu', 'Kishor', 'Arjun']

In [28]:
#sort(): sorts the list.
names.sort()
print(names)

['Anu', 'Arjun', 'BMW', 'Ford', 'Kishor', 'Raj', 'Raj', 'Volvo']